*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
iframe,
button {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

input {
  width: 100%;
}

button {
  text-align: left;
  cursor: pointer;
}

html {
  font-family: "monospace", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: hsl(220, 17%, 7%);
  color: hsl(220, 100%, 95%);
  font-size: 1.8rem;
  line-height: 1.5;
  height: 300vh;
  width: 200vh;
}

:focus-visible {
  outline-color: hsl(349, 69%, 51%);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(250, 6%, 20%);
  border-radius: 8px;
}

.search-wrapper::before,
.load-more::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid hsl(0, 0%, 100%);
  border-radius: 24px;
  border-inline-end-color: transparent;
  animation: loading 500ms linear infinite;
  display: none;
}

.search-wrapper::before {
  position: absolute;
  top: 14px;
  right: 12px;
}

.load-more {
  background-color: hsl(349, 69%, 51%);
  margin-inline: auto;
  margin-block: 36px 60px;
}
.load-more.loading::before {
  display: block;
}

.seperator {
  width: 4px;
  height: 4px;
  background-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 8px;
}

:is(.genre-list, .search-modal) :is(.movie-card, .card-banner) {
  width: 100%;
}

.video-card {
  background-image: url("./assets/images/video-bg-icon.png");
  aspect-ratio: 16/9;
  flex-shrink: 0;
  max-width: 500px;
  width: calc(100% - 40px);
}

.search-modal {
  position: fixed;
  display: none;
  top: 96px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: hsl(250, 13%, 11%);
  padding: 50px 24px;
  z-index: 4;
  overflow-y: overlay;
}
.search-modal.active {
  display: block;
}
.search-modal .label {
  color: hsl(349, 69%, 51%);
  font-weight: 700;
  -webkit-margin-after: 8px;
          margin-block-end: 8px;
}

.container {
  position: relative;
  background-color: hsl(250, 13%, 11%);
  color: hsl(250, 100%, 95%);
  padding: 24px 20px 48px;
  height: calc(100vh - 96px);
  overflow-y: overlay;
  z-index: 1;
}
.container::after,
.container .search-modal::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background-image: linear-gradient(180deg, hsla(250, 13%, 11%, 0), hsl(250, 13%, 11%));
  z-index: 1;
  pointer-events: none;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
.header {
  position: relative;
  padding-block: 24px;
  padding-inline: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.header .logo {
  -webkit-margin-end: auto;
          margin-inline-end: auto;
}
.header .search-box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(220, 17%, 7%);
  padding: 24px 16px;
  align-items: center;
  gap: 8px;
  z-index: 1;
}
.header .search-box.active {
  display: flex;
}
.header .search-box .search-wrapper {
  position: relative;
  flex-grow: 1;
}
.header .search-box .search-wrapper.searching::before {
  display: block;
}
.header .search-box .search-wrapper .search-field {
  background-color: hsl(250, 6%, 20%);
  height: 48px;
  line-height: 48px;
  padding-inline: 44px 16px;
  outline: none;
  border-radius: 8px;
  transition: 250ms ease;
}
.header .search-box .search-wrapper .search-field::-moz-placeholder {
  color: hsl(250, 1%, 44%);
}
.header .search-box .search-wrapper .search-field::placeholder {
  color: hsl(250, 1%, 44%);
}
.header .search-box .search-wrapper .search-field:hover {
  box-shadow: 0 0 0 2px hsl(250, 1%, 44%);
}
.header .search-box .search-wrapper .search-field:focus {
  box-shadow: 0 0 0 2px hsl(250, 100%, 95%);
  -webkit-padding-start: 16px;
          padding-inline-start: 16px;
}
.header .search-box .search-wrapper .leading-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  opacity: 0.5;
  transition: 250ms ease;
}
.header .search-box .search-wrapper:focus-within .leading-icon {
  opacity: 0;
}
.header .search-btn,
.header .menu-btn {
  padding: 12px;
}
.header .search-btn {
  background-color: hsl(250, 6%, 20%);
  border-radius: 8px;
}
.header .search-btn img {
  opacity: 0.5;
  transition: 250ms ease;
}
.header .search-btn:is(:hover, :focus-visible) img {
  opacity: 1;
}
.header .menu-btn.active .menu,
.header .menu-btn .close {
  display: none;
}
.header .menu-btn .menu,
.header .menu-btn.active .close {
  display: block;
}

.title,
.heading,
.title-large {
  font-weight: 700;
  letter-spacing: 0.5px;
}

.heading {
  color: hsl(0, 0%, 100%);
  font-size: 4rem;
  line-height: 1.2;
}

.title-large {
  font-size: 2.6rem;
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-size: 2rem;
}

.meta-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.btn {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 700;
  max-width: -moz-max-content;
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-block: 12px;
  padding-inline: 20px 24px;
  border-radius: 8px;
  transition: 250ms ease;
}

.banner {
  position: relative;
  height: 700px;
  border-radius: 24px;
  overflow: hidden;
}
.banner-slider .slider-item {
  position: absolute;
  top: 0;
  left: 120%;
  width: 100%;
  height: 100%;
  background-color: hsl(250, 6%, 20%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms ease;
}
.banner-slider .slider-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(90deg, hsl(220, 17%, 7%) 0%, hsla(220, 17%, 7%, 0.5) 100%);
}
.banner-slider .active {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.banner-content {
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 206px;
  z-index: 1;
  color: hsl(250, 2%, 59%);
}
.banner:is(.heading, .banner-text) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.banner .heading {
  -webkit-line-clamp: 3;
  -webkit-margin-after: 16px;
          margin-block-end: 16px;
}
.banner .genre {
  margin-block: 12px;
}
.banner-text {
  -webkit-line-clamp: 2;
  margin-block: 24px;
}
.banner .btn {
  background-color: hsl(349, 100%, 43%);
}
.banner .btn:is(:hover, :focus-visible) {
  box-shadow: 0 2px 4px hsla(350, 100%, 43%, 0.3);
}

.meta-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.card-badge {
  background-color: hsl(250, 6%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
  font-weight: 700;
  padding-inline: 6px;
  border-radius: 4px;
}

.slider-control {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 0;
  border-radius: 16px 0 0 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 4px 0px 4px 4px;
  overflow-x: auto;
}
.slider-control::-webkit-scrollbar {
  display: none;
}
.slider-control .slider-item {
  width: 100px;
  border-radius: 8px;
  flex-shrink: 0;
  filter: brightness(0, 4);
}
.slider-control.active {
  filter: brightness(1);
  box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.75);
}

.control-inner {
  display: flex;
  gap: 12px;
}
.control-inner::after {
  content: "";
  min-width: 12px;
}

.poster-box,
.video-card {
  background-image: url("./assets/images/poster-bg-icon.png");
  aspect-ratio: 2/3;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  background-color: hsl(250, 6%, 20%);
  border-radius: 16px;
  overflow: hidden;
}

.title-wrapper {
  -webkit-margin-after: 24px;
          margin-block-end: 24px;
}

.slider-list {
  margin-inline: -20px;
  overflow-x: overlay;
  -webkit-padding-after: 16px;
          padding-block-end: 16px;
  -webkit-margin-after: -16px;
          margin-block-end: -16px;
}
.slider-list::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.slider-list:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: hsl(250, 6%, 20%);
}
.slider-list::-webkit-scrollbar-button {
  width: 20px;
}
.slider-list .slider-inner {
  position: relative;
  display: flex;
  gap: 16px;
}
.slider-list .slider-inner::before, .slider-list .slider-inner::after {
  content: "";
  min-width: 4px;
}
.slider-list .slider-inner .movie-card {
  position: relative;
  min-width: 200px;
}
.slider-list .slider-inner .movie-card .card-banner {
  width: 200px;
}
.slider-list .slider-inner .movie-card .title {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-block: 8px 4px;
}
.slider-list .slider-inner .movie-card .meta-list {
  justify-content: space-between;
}
.slider-list .slider-inner .movie-card .card-btn {
  position: absolute;
  inset: 0;
}

.movie-list {
  -webkit-padding-before: 32px;
          padding-block-start: 32px;
}

.sidebar {
  position: absolute;
  background-color: hsl(220, 17%, 7%);
  top: 96px;
  bottom: 0;
  left: -340px;
  max-width: 340px;
  width: 100%;
  -webkit-border-before: 1px solid hsl(250, 6%, 20%);
          border-block-start: 1px solid hsl(250, 6%, 20%);
  overflow-y: overlay;
  z-index: 4;
  visibility: hidden;
  transition: 500ms ease;
}
.sidebar.active {
  transform: translateX(340px);
  visibility: visible;
}
.sidebar .sidebar-inner {
  display: grid;
  gap: 20px;
  padding-block: 36px;
}
.sidebar .sidebar-inner .sidebar-list,
.sidebar .sidebar-inner .sidebar-footer {
  padding-inline: 36px;
}
.sidebar .sidebar-inner .sidebar-list .sidebar-link,
.sidebar .sidebar-inner .sidebar-footer .sidebar-link {
  color: hsl(250, 1%, 44%);
  transition: 250ms ease;
}
.sidebar .sidebar-inner .sidebar-list .sidebar-link:is(:hover, :focus-within),
.sidebar .sidebar-inner .sidebar-footer .sidebar-link:is(:hover, :focus-within) {
  color: hsl(220, 100%, 95%);
}
.sidebar .sidebar-inner .sidebar-list {
  display: grid;
  gap: 8px;
}
.sidebar .sidebar-inner .sidebar-list .title {
  -webkit-margin-after: 8px;
          margin-block-end: 8px;
}
.sidebar .sidebar-inner .sidebar-footer {
  -webkit-border-before: 1px solid hsl(250, 6%, 20%);
          border-block-start: 1px solid hsl(250, 6%, 20%);
  -webkit-padding-before: 28px;
          padding-block-start: 28px;
  -webkit-margin-before: 16px;
          margin-block-start: 16px;
}
.sidebar .sidebar-inner .sidebar-footer .copyright {
  color: hsl(250, 1%, 44%);
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
}
.sidebar .sidebar-inner .sidebar-footer .copyright span {
  display: inline-block;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.sidebar:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: hsl(250, 6%, 20%);
}
.sidebar::-webkit-scrollbar-button {
  height: 16px;
}

.overlay {
  position: fixed;
  top: 96px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: hsl(220, 17%, 7%);
  opacity: 0;
  pointer-events: none;
  transition: 250ms ease;
  z-index: 3;
}
.overlay.active {
  opacity: 0.5;
  pointer-events: all;
}

.backdrop-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.backdrop-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(0deg, hsl(250, 13%, 11%), hsla(250, 13%, 11%, 0.9));
}

.movie-detail .movie-poster {
  max-width: 300px;
  width: 100%;
}
.movie-detail .heading {
  margin-block: 24px 12px;
}
.movie-detail:is(.meta-list, .genre) {
  color: hsl(250, 2%, 59%);
}
.movie-detail .genre {
  margin-block: 12px 16px;
}
.movie-detail .list-item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  -webkit-margin-after: 12px;
          margin-block-end: 12px;
}
.movie-detail .list-name {
  color: hsl(250, 2%, 59%);
  min-width: 112px;
}

.detail-list {
  margin-block: 24px 32px;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 20px;
}

.genre-list .title-wrapper {
  -webkit-margin-after: 56px;
          margin-block-end: 56px;
}
.genre-list:is(.movie-card, .card-banner) {
  width: 100%;
}

@media (min-width: 575px) {
  .banner-content {
    right: auto;
    max-width: 500px;
  }
  .slider-control {
    left: calc(100% - 400px);
  }
  .detail-content {
    max-width: 750px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-inline: 24px;
  }
  .slider-list {
    margin-inline: -24px;
  }
  .search-btn {
    display: none;
  }
  .search-box {
    all: unset;
    display: block;
    width: 360px;
  }
  .banner {
    height: 500px;
  }
  .banner-content {
    bottom: 50%;
    transform: translateY(50%);
    left: 50px;
  }
  .movie-detail {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }
  .movie-detail .detail-box {
    flex-grow: 1;
  }
  .movie-detail .movie-poster {
    position: sticky;
    flex-shrink: 0;
    top: 0;
  }
  .movie-detail .slider-list {
    -webkit-margin-start: 0;
            margin-inline-start: 0;
    border-radius: 16px 0 0 16px;
  }
  .movie-detail .slider-inner::before {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 28px 56px;
  }
  .logo img {
    width: 160px;
  }
  .menu-btn,
  .overlay {
    display: none;
  }
  main {
    display: grid;
    grid-template-columns: 250px 1fr;
  }
  .sidebar {
    position: static;
    visibility: visible;
    -webkit-border-before: 0;
            border-block-start: 0;
    height: calc(100vh - 104px);
  }
  .sidebar.active {
    transform: none;
  }
  .sidebar-list,
  .sidebar-footer {
    padding-inline: 56px;
  }
  .container {
    height: calc(100vh - 104px);
    border-top-left-radius: 16px;
  }
  .banner-content {
    left: 100px;
  }
  .search-modal {
    top: 104px;
    padding: 60px;
  }
  .backdrop-image {
    border-top-left-radius: 36px;
  }
}/*# sourceMappingURL=styles.css.map */